html {
  box-sizing: border-box;
  font-size: 62.5%; /* 1REM = 10px */
  background-color: rgb(11, 96, 135);
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  font-family: 'Raleway', sans-serif;
  font-size: 1.6rem;
  line-height: 2;
}

/* Globales */
h1,
h2,
h3 {
  text-align: center;
  font-family: 'Playfair Display', serif;
  margin: 0 0 2rem 0;
}
h1 {
  font-size: 3.8rem;
  color: azure;
}

a {
  text-decoration: none;
  color: black;
}

.text-center {
  font-size: 3rem;
  text-align: center;
}

img {
  max-width: 100%;
  display: block;
}

.panel {
  background-color: rgb(8, 97, 8);
  border-radius: 0.5rem;
  transition: background-color 0.3s ease;
}

.panel:hover {
  background-color: green;
}

.speak {
  border: none;
  outline: none;
  border-radius: 0.5rem;
  padding: 0.7rem;
  transition: box-shadow 0.3s ease;
  margin: 1.2rem;
}

.speak:focus {
  box-shadow: 0 0 5px 2px lightblue; /* Color de fondo celeste al hacer clic */
}

.buttonSpeak {
  background-color: #0056b3; /* Color de fondo */
  color: #fff; /* Color del texto */
  border: none; /* Sin borde */
  border-radius: 4px; /* Bordes redondeados */
  padding: 10px 20px; /* Espaciado interno */
  cursor: pointer; /* Cursor al pasar el rat贸n */
}

/* Estilo para el bot贸n al pasar el rat贸n */
.buttonSpeak:hover {
  background-color: #007bff; /* Color de fondo al pasar el rat贸n */
}

/*****************************************************/

.containerLogo {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container {
  margin: 3rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}

@media (min-width: 768px) {
  .container {
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: wrap;
  }
}

.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer-content {
  color: #fff;
  position: relative;
  top: 41rem;
}

@media (min-width: 768px) {
  .footer-content {
    top: 41rem;
  }
}
